
.transaction {
  padding: 20px;
}

.transaction-more {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-image: linear-gradient(to bottom, transparent 50%, white);
  text-align: center;
}
.transaction-more button {
  padding: 15px 20px;
  background-color: lightblue;
  border: none;
  font-size: 16px;
  border-radius: 5px;
}

.separator {
  margin: 40px 0;
  padding: 0 20px;
  border-top: 2px dashed black
}